<launch>

<node pkg="apriltags_ros"  type="apriltag_detector_node" name="apriltag_detector" output="screen">
  
  <remap from="image_rect" to="/camera/image_rect" />
  <remap from="camera_info" to="/camera/camera_info" />

  <param name="tag_family" type="str" value="36h11" />

  <rosparam param="tag_descriptions">
     [{id: 0, size: 0.163513},
     {id: 1, size: 0.163513}]
  </rosparam>
</node>


</launch>
